@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');

body {
  font-family: 'Work Sans', sans-serif;
  padding: 0;
  margin: 0;
}
table tr.header { font-weight: bold }
table, td { border: 1px solid black }
td { padding: 6px }

nav.nav-main {
  background: #333;
  display: flex;
}

nav.nav-main .brand {
  flex: 3;
}

nav.nav-main a {
  margin: .5rem 1.5rem;
  line-height:4rem;
  color: #fff;
}

nav.nav-main a.header {
  font-size: 1.5rem;
  font-family: 'Pacifico', cursive;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
}

nav.nav-main ul {
  display: inline-block;
  margin: 0;
  padding-top: .5rem;
}

nav.nav-main ul li {
  display: inline-block;
}

div.content {
  max-width: 1080px;
  padding: 2rem;
  margin: 0 auto;
}

section {
  margin-top: 2rem;
}

h1.recipe-title {
  display: inline-block;
  line-height: 0;
}

span.recipe-ranking {
  margin-left: 2rem;
}

ul.ingredients {
  list-style-type: none;
  padding: 0;
  border-collapse: collapse;
  width: 21rem;
  border: 1px solid black;
  border-bottom: none;
}

ul.ingredients li {
  padding: 0.75rem 0.75rem;
  border-bottom: 1px solid black;
}

img.recipe-image {
  object-fit: cover;
  width: 300px;
  height: 200px;
  margin-bottom: 1rem;
}

img.recipe-image__upload-preview {
  width: 120px;
}

ol.steps {

}

input[type=text], select {
  font-size: 1.6rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #333;
}

select {
  background: #ffffff;
  font-size: 1.25rem;
}

input[type=text]:focus, textarea:focus {
  border: 1px solid #666666;
  box-shadow: 0 0 5px #03d5ff;
}

form.search-container {
  display: flex;
}

form.search-container .search-lg {
  width: 100%;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

form.search-container select {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-left: none;
  color: #555555;

  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e2e2e2+0,dbdbdb+50,d1d1d1+51,fefefe+100;Grey+Gloss+%231 */
  background: rgb(226,226,226); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(226,226,226,1) 0%, rgb(219, 219, 219) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
}

section#recipe-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -1rem;
  margin-right: -1rem;
}

section#recipe-list div.recipe-list-item {
  flex: 0 50%;
}

section#recipe-list div.recipe-list-item a {
  display: block;
  color: black;
  border: 1px solid #333333;
  margin: 1rem;
  padding: 1rem;
  text-decoration: none;
}

section#recipe-list div.recipe-list-item h2 {
  margin: 0;
  margin-top: 0.6rem;
}

div.recipe-tags span {
  background: #f7e9c3;
  border: 1px solid #e0be60;
  border-radius: 0.3rem;
  padding: 0.3rem 0.6rem;
  line-height: 2.2rem;
}

div.recipe-rating {
  margin-bottom: 1rem;
}

div.recipe-rating img {
  width: 1.3rem;
}
