@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');

body {
  font-family: 'Work Sans', sans-serif;
  padding: 0;
  margin: 0;
}
table tr.header { font-weight: bold }
table, td { border: 1px solid black }
td { padding: 6px }

nav {
  background: #333;
}

nav a {
  margin: .5rem 1.5rem;
  line-height:4rem;
  color: #fff;
}

nav a.header {
  font-size: 1.5rem;
  font-family: 'Pacifico', cursive;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
}

nav ul {
  float: right;
  display: inline-block;
  margin: 0;
  padding-top: .5rem;
}

nav ul li {
  display: inline-block;
}

div.content {
  max-width: 1080px;
  margin: 0 auto;
}

h1.recipe-title {
  display: inline-block;
}

span.recipe-ranking {
  margin-left: 2rem;
}

ul.ingredients {
  list-style-type: none;
  padding: 0;
  border-collapse: collapse;
  width: 21rem;
  border: 1px solid black;
  border-bottom: none;
}

ul.ingredients li {
  padding: 0.75rem 0.75rem;
  border-bottom: 1px solid black;
}

ol.steps {

}
