div.panel-heading {

}

input.form-control {

}

.item-shopping_list label, .item-shopping_list div.checkbox {
  display: inline-block;
}

div.form-group.item-ingredient.item-ingredient {}

a.deform-close-button {
  margin: 1rem;
}

div.item-ingredient .panel-heading, div.item-steps .panel-heading {
  display: none;
}
