<!DOCTYPE html>
<html lang="en">
<head>
  <title>Quick Tutorial: {{name}}</title>
  <link rel="stylesheet" href="{{request.static_url('recipes:static/app.css')}}"/>
</head>
<body>
  <h1>All Users</h1>
  <table>
    <tr class="header">
      <td>First Name</td>
      <td>Last Name</td>
    </tr>
    {% for item in users %}
    <tr>
      <td>{{item.first_name}}</td>
      <td>{{item.last_name}}</td>
    </tr>
    {% endfor %}
  </table>
</body>
</html>
