<!DOCTYPE html>
<html lang="en">
<head>
  <title>Quick Tutorial: {{name}}</title>
  <link rel="stylesheet" href="{{request.static_url('recipes:static/app.css')}}"/>
</head>
<body>
<h1>Hi {{name}}</h1>
<p>
  Frist Name: {{first_name}}<br/>
  Last Name: {{last_name}}
</p>
</body>
</html>
