<!DOCTYPE html>
<html lang="en">
<head>
  <title>Wiki: View</title>
  <link rel="shortcut icon" href="{{request.static_url('recipes:static/favicon.ico')}}" />
  <link rel="stylesheet" href="{{request.static_url('recipes:static/app.css')}}"/>
</head>
<body>
  {% include 'components/nav.jinja2' %}
<div class="content">
  <h1>Current Recipies</h1>
  <label for="search">Search recipes</label>
  <input type="text" name="search"/>
  <ul>
    {% for page in pages %}
    <li>
        <a href="{{request.route_url('recipe_view', uid=page.uid)}}">
                {{page.title}}
        </a>
    </li>
    {% endfor %}
  </ul>
  <script>
      console.log(document.querySelector(".content"))
  </script>
</div>
</body>
</html>
