{% if pages is defined %}
  {% for page in pages %}

  <a class="recipe-list-item" href="{{request.route_url('recipe_view', uid=page.uid)}}">
    <h2>{{page.title}}</h2>
    <p>
      {{page.description|safe}}
    </p>
  </a>

  {% endfor %}
{% else %}
<span class="error search-error">
  No recipes match your search!
</span>
{% endif %}
