{% if pages is defined %}
  {% for page in pages %}
  <div class="recipe-list-item">
    <a href="{{request.route_url('recipe_view', uid=page.uid)}}">
      {{page.title}}
    </a>
  </div>
  {% endfor %}
{% else %}
<span class="search-error">
  No recipes match your search!
</span>
{% endif %}
