<!DOCTYPE html>
<html lang="en">
<head>
  <title>Wiki: View</title>
  <link rel="shortcut icon" href="{{request.static_url('recipes:static/favicon.ico')}}" />
  <link rel="stylesheet" href="{{request.static_url('recipes:static/app.css')}}"/>
  <script src="{{request.static_url('recipes:js/requests.js')}}" async></script>
</head>
<body>
  {% include 'components/nav.jinja2' %}
<div class="content">
  <form class="search-container">
    <input type="text" name="search" class="search-lg" id="recipe-search-text"
           oninput="searchOnTextChange(this, '/search_recipes/')"/>
    <select id="recipe-search-option">
      <option value="all">Search all</option>
      <option value="title">Title</option>
      <!--
      Not implemented
      <option value="tags">Tags</option>
      <option value="ingredients">Ingredients</option>
      -->
    </select>
  </form>

  <section id="recipe-list">

  </section>

  <script>
    const searchOnTextChange = async (textInput, endpoint) => {
      const response = await fetch(endpoint, {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({ title: textInput.value || '' })
      }).then(function(response) {
          return response.text();
      }).then(function(html) {
          document.querySelector('#recipe-list').innerHTML = html;
      });
    }
    searchOnTextChange(document.getElementById('recipe-search-text'), '/search_recipes/');
  </script>
</div>
</body>
</html>
