<!DOCTYPE html>
<html lang="en">
<head>
    <title>Food is Mood - Add/Edit Recipe</title>
    <link rel="shortcut icon" href="{{request.static_url('recipes:static/favicon.ico')}}" />
    <link rel="stylesheet"
          href="{{request.static_url('deform:static/css/bootstrap.min.css')}}"
          type="text/css" media="screen" charset="utf-8"/>
    <link rel="stylesheet"
          href="{{request.static_url('deform:static/css/form.css')}}"
          type="text/css"/>

    <link rel="stylesheet" href="{{request.static_url('recipes:static/app.css')}}"/>
    <link rel="stylesheet" href="{{request.static_url('recipes:static/edit-form.css')}}"/>

    {% for reqt in view.reqts['css'] %}
        <link rel="stylesheet" type="text/css" href="{{request.static_url(reqt)}}"/>
    {% endfor %}
    <script src="{{request.static_url('deform:static/scripts/jquery-2.0.3.min.js')}}"
            type="text/javascript"></script>
    <script src="{{request.static_url('deform:static/scripts/bootstrap.min.js')}}"
            type="text/javascript"></script>

    {% for reqt in view.reqts['js'] %}
        <script src="{{request.static_url(reqt)}}"
                type="text/javascript"></script>
    {% endfor %}
</head>
<body>
  {% include 'components/nav.jinja2' %}
<div class="content">
  {% include 'components/recipe_edit_subnav.jinja2' %}
  
  {% if recipe is defined %}
  <h1>Add Recipe:</h1>
  {% else %}
  <h1>Edit Recipe:</h1>
  {% endif %}
  <p>{{form|safe}}</p>
</body>
</html>
