<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="{{request.static_url('recipes:static/favicon.ico')}}" />
    <link rel="stylesheet" href="{{request.static_url('recipes:static/app.css')}}"/>
    <title>Food is Mood - {{ item.recipe.title }}</title>
</head>
<body>
  {% include 'components/nav.jinja2' %}

  <div class="content">
    <h1 class="recipe-title">{{item.recipe.title}}</h1>

    <p>{{item.recipe.description|safe}}</p>

    {% if item.image is defined %}
    <img src="{{item.image}}" class="recipe-image"/>
    {% endif %}

    {% include 'components/star_rating.jinja2' %}
    <div class="recipe-tags">
      {% for tag in item.tags %}
        <span>{{tag.tag}}</span>
      {% endfor %}
    </div>

    <h2 style="margin-top: 2rem">Ingredients</h2>
    <ul class="ingredients">
    {% for ingredient in item.recipe.ingredients %}
      <li>{{ingredient.ingredient}}</li>
    {% endfor %}
    </ul>

    <h2>Steps</h2>
    <ol class="steps">
    {% for step in item.recipe.steps %}
      <li>{{step.step}}</li>
    {% endfor %}
    </ol>
  </div>
</body>
</html>
